<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Eleventy Blog</title>
</head>
<body>
<header>
  Site Header
  <a href="/About">About</a>
</header>
<main>
  {{ content | safe }}
</main>
<footer>Site Footer</footer>
</body>
</html>