<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Eleventy Blog</title>

  <link rel="stylesheet" href="/css/site.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet">
</head>
<body>
<header>
  <a href="/" class="link--home">My Blog</a>
  <a href="/About" class="link--about">About</a>
</header>
<main>
  {{ content | safe }}
</main>
<footer>&copy; My Blog</footer>
</body>
</html>